iframe{
    margin: 2%;
}

.dashboard_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tab_buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tabcontent {
    display: flex;
    flex-direction: column;
    color: wheat;
    justify-content: center;
    align-items: center;
}
  
.tablinks {
    background-color: black;
    border-left: 1px solid wheat;
    border: 1%;
    color: wheat;
    padding: 10px 20px;
    margin: 10px 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.1s;
}
  
.tablinks:hover {
    background-color: wheat;
    color: black;
}
  
.tablinks.active {
    background-color: black;
    color: wheat;
    border: 1px solid wheat;
}

/* CSS for the viewport */
.viewport {
    width: 600px;
    height: 400px;
    overflow: hidden;
    border: 1px solid black;
}

/* CSS for the image */
.viewport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bttn-container{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.bttn-container button{
    width: 120px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: wheat;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s;
}

.bttn-container button:hover{
    background-color: black;
    color: wheat;
    border: 1px solid wheat;
}