@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.desc{
    margin: 20px;
    align-items: center;
    color: whitesmoke;
}

.desc p{
    padding: 0 5%;
    font-size: 22px;
}

.top-row{
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plot{
    color: #f5deb3;
    width: 365px;
    height: 371px;
}


/* Make index.html elements responsive */
@media screen and (max-width: 768px){
    .top-row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .desc{
        margin: 20px;
        align-items: center;
        color: whitesmoke;
    }
    .desc p{
        padding: 0 5%;
        font-size: 22px;
    }
    /* make plot size responsive */
    .plot{
        color: #f5deb3;
    }
}
