/* Styling the dropdown */
select{
    width: 300px;
    background-color: wheat;
    margin: 10px 10px;
    padding: 10px 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid wheat;
    border-radius: 2px;
    transition: 0.2s;
}

select:hover{
    background-color: black;
    color: wheat;
}
  
  /* Styling the dropdown options */
option{
    background-color: black;
    color: wheat;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.trade-iframe{
    border: 3px solid wheat;
    border-radius: 2%;
    width:800; 
    height:1000;
}

.tradeselector{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all_trades_link{
    padding: 0 15px;
    margin-right: 10px;
    white-space: nowrap;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid var(--light-color);
    background-color: wheat;
    transition: 0.3s;
}

.all_trades_link:hover{
    color: wheat;
    background-color: black;
}

/* all_trades.html */
.trades-iframe{
    width: 1000px;
    height: 50vh;
}

/* make journal.html elements responsive */
@media screen and (max-width: 768px){
    .trade-iframe{
        width: 500px;
        height: 625px;
    }
}
